<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome 🙌</title>
  </head>
  <body>
    <header>
      <div sec:authorize="isAuthenticated()">
        <span sec:authentication="name"></span> -
        <a href="/logout">logout</a>
      </div>
      <div sec:authorize="!isAuthenticated()">
        <a href="/login">Login</a>
      </div>
    </header>
    <ul>
      <li><a href="/survie">Survie</a></li>
      <li><a href="/greetings">greetings</a></li>
    </ul>
  </body>
</html>
